
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('./style_guide/theme.css');

:root{
    font-family: 'Manrope', sans-serif !important;

    
}

body {
    background-color: var(--md-sys-color-surface) !important;
    color: var(--md-sys-color-on-surface) !important;
    overflow: none;
}

/* HEADER */

header a.nav-link{
    color: var(--md-sys-color-on-surface) !important; 
}
header a.nav-link.active{
    color: var(--md-sys-color-primary) !important; 
}

#logo {
    max-width: calc(40px + 5%) !important;
}
#CTA {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary) !important;
}

#CTA:hover {
    background-color: var(--md-ref-palette-primary30) !important;
}

.navbar-toggler{
    /* fill: var(--md-sys-color-surface) !important ; */
    background-color: var(--md-sys-color-surface-variant) !important;
}

/* HEADER */


/* HERO SECTION */

#hero{
    position: relative !important;
    align-items: center !important;
    overflow: none !important;
}

#hero h1{
    color: var(--md-sys-color-on-surface) !important;
    font-size: calc(48px + 2vw);
    
}

#hero .image-section{
    position: relative;
    overflow: none;
    
}

/* #hero .image-section > img{
    
    top: 0;
    right: 0;
    z-index: 2;
    width: calc(300px + 10vw);
    
} */

#hero .image-section > svg{
    /* background-image: url(./images/hero.png) !important; */
    position: absolute;
    width: calc(300px + 20vw) !important;
    max-height: 670px;
    right: 0px;
    top: -10px;
    z-index: -10;
}

#makingImpact{
    background-color: var(--md-sys-color-on-background);
    color: var(--md-sys-color-background);
}

#makingImpact .tile{
    border: 1px solid var(--md-sys-color-outline);
    text-decoration: none;
    color: var(--md-sys-color-surface);
}
#makingImpact .tile:hover{
    background-color: var(--md-sys-color-tertiary);

}
#makingImpact .tile:hover .icons{
    color: var(--md-sys-color-tertiary);
}



.tile:hover .learnMore i {
    transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
}
 

#makingImpact .tile:nth-child(2){
    background-color: var(--md-sys-color-primary);
    
}
#makingImpact .tile:nth-child(2):hover{
    background-color: var(--md-sys-color-tertiary);
    
}

#makingImpact .icons {
    background-color: var(--md-sys-color-background);
    width: 64px !important;
    height: 64px !important;
    color:  var(--md-sys-color-on-background);
    /* margin-bottom: 20px; */
}

#makingImpact .tile:nth-child(2) .icons {
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-primary);
    
}
#makingImpact .tile:nth-child(2):hover .icons {
    color: var(--md-sys-color-tertiary);
    
}

#makingImpact .tile .learnMore {
    background-color: transparent;
    border: 1px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-surface-variant);
    margin-top: auto !important;
}

