
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('./style_guide/theme.css');

:root{
    font-family: 'Manrope', sans-serif !important;

    
}

body {
    background-color: var(--md-sys-color-surface) !important;
    color: var(--md-sys-color-on-surface) !important;
    overflow: none;
}

/* HEADER */

header a.nav-link{
    color: var(--md-sys-color-on-surface) !important; 
}
header a.nav-link.active{
    color: var(--md-sys-color-primary) !important; 
}

#logo {
    max-width: calc(40px + 5%) !important;
}
#CTA {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary) !important;
}

#CTA:hover {
    background-color: var(--md-ref-palette-primary30) !important;
}

.navbar-toggler{
    /* fill: var(--md-sys-color-surface) !important ; */
    background-color: var(--md-sys-color-surface-variant) !important;
}

/* HEADER */


/* HERO SECTION */

#hero{
    position: relative !important;
    align-items: center !important;
    overflow: none !important;
}

#hero h1{
    color: var(--md-sys-color-on-surface) !important;
    font-size: calc(48px + 2vw);
    margin-top: 72px !important;
}

#hero .image-section{
    position: relative;
    overflow: none;
    background-image: url(./image/arrow-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px;
    background-position-y: center;
    height: fit-content;
}

.hero-text{
    font-size: calc(0.8rem + 0.5vw);
}

.image-section > img{
    position: relative;
}

/* #hero .image-section > img{
    
    top: 0;
    right: 0;
    z-index: 2;
    width: calc(300px + 10vw);
    
} */

/* Media Queries */
@media (max-width: 768px){
    .hero-text{
        /* font-size: calc(1rem); */
    }
    .image-section > svg{
        right: -170px !important;
        margin-top: -20px;
        min-width: 500px;
    }
    .image-section{
        background-position: 280px !important;
    }
   
    .image-section > img{
    }

}
@media (max-width: 500px){
    .hero-text{
        font-size: 1rem;
    } .image-section{
        background-position: 40px !important;
    }
}
